.textForm {
	width: 100%;
	height: 30px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.my-footer{
	border-top: 1px solid #eca752;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 50px;
	text-align: center;
}

.my-divider{
	width:100%;
	height:2px;
	border-top: 2px solid #eca752;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: 0px;
	margin-right: 0px;
}

.pd 	{
	height: 200px;
	width: 100%;
	overflow: auto;	
	word-wrap: break-word;
	word-break: normal;
	margin-bottom:0px;
}

.my-tab-content{
	background:#fff9e5;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	height: 300px;
	padding: 10px;
	overflow: auto;
	word-wrap: break-word;
	word-break: normal;
}

.my_discussion {
  height: 260px;
  overflow: auto;
}

.my_discussion_ipt {
  margin-top: 12px;
}

.bubbletooltip_tip {
	position: relative;
	line-height: 20px;
    padding: 10px;
	text-align: center;
	color: rgb(0, 0, 0);
	background: #ffffff;
	border: 2px solid #000000;
	border-radius: 5px;
    text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
}
.bubbletooltip_tip:after, .bubbletooltip_tip:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.bubbletooltip_tip:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}
.bubbletooltip_tip:before {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #000000;
	border-width: 13px;
	margin-left: -13px;
}

input{
	background:#fff9e5;
}

textarea {
	background:#fff9e5;
}

select{
	background:#fff9e5;
}

.modal-header {
   background:#f9cb9c;
}

.modal-footer {
   background:#f9cb9c;
}

.myThead {
   background:#f9cb9c;
}

.myTbody {
   background:#fff9e5;
}

.myTitle {
   color:#be7214;
}

.myTitle2 {
   color:#be7214;
}

.default{
	color:#ff0080;
}
.color1{
	color:#a349a4;
}
.color2{
	color:#663300;
}
.color3{
	color:#0000ff;
}
.color4{
	color:#808080;
}
.color5{
	color:#008000;
}
.color6{
	color:#BDB76B;
}
.color7{
	color:#00FF00;
}

.red{
	color:red;
}

.stronger{
	color:red;
	font-weight: bold;
}

.disableText{
	color:#B0B0B0;
}

.bigTitle{
	font-size:40px;
}

.subTitle{
	font-size:27px;
}

.m1{
	font-size:25px;
}

.m2{
	font-size:15px;
}

.m3{
	font-size:20px;
}

.headerBar{
	height:32px;
}

.pageBar{
	height:40px;
}

.boundIpt{
	height:32px;
	width:180px;
	display:inline;
}

.colorCnt{
	display:inline;
}

.highlight {
    background-color: #FFFF88;
}

.btn-default:focus, .btn-default:hover {
  background-color: #f2c166;
}

.nav_up{
	display: none;
    position: fixed;
    right: 20px;
    bottom: 70px;    
    padding: 10px 15px;    
    font-size: 20px;
    background: rgba(119,119,119,0.7);
    color: white;
    cursor: pointer;
}
.nav_down{
    display: none;
	position: fixed;
    right: 20px;
    bottom: 10px;    
    padding: 10px 15px;    
    font-size: 20px;
    background: rgba(119,119,119,0.7);
    color: white;
    cursor: pointer;
}

.resp{
	overflow: auto;
}

.resp2{
}

.category{
	white-space: nowrap;
}

.myResTable td, .myResTable th{
	white-space: nowrap;
}

.inlineTable{
	display:inline;
}

.actioner{
	width:100px;
}

.disFtrTable{
	display:inline;
}

@media (max-width: 480px) {
	.resp2 .btn-group, .resp2 .input-group-btn{
		display: block;
		margin-bottom: 10px;
		clear: both;
	}
	.input-group {
		position: relative;
		border-collapse: separate;
	}
}