.textForm {
	width: 100%;
	height: 30px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.my-footer{
	border-top: 1px solid #e5e5e5;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 50px;
	text-align: center;
}

.pd 	{
	height: 200px;
	width: 100%;
	overflow: auto;	
	word-wrap: break-word;
	word-break: normal;
	margin-bottom:0px;
}

.my-tab-content{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	height: 300px;
	padding: 10px;
	overflow: auto;
	word-wrap: break-word;
	word-break: normal;
}

.my_discussion {
  height: 225px;
  overflow: auto;
}

.my_discussion_ipt {
  margin-top: 12px;
}