.textForm {
	width: 100%;
	height: 30px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.my-footer{
	border-top: 1px solid #eca752;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 50px;
	text-align: center;
}

.pd 	{
	height: 200px;
	width: 100%;
	overflow: auto;	
	word-wrap: break-word;
	word-break: normal;
	margin-bottom:0px;
}

.my-tab-content{
	background:#fff9e5;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	height: 300px;
	padding: 10px;
	overflow: auto;
	word-wrap: break-word;
	word-break: normal;
}

.my_discussion {
  height: 225px;
  overflow: auto;
}

.my_discussion_ipt {
  margin-top: 12px;
}

.bubbletooltip_tip { 
	position: relative;
    line-height: 20px;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    color: rgb(0, 0, 0);
    background: rgb(255, 239, 213);
    border: 3.63636350631714px solid rgb(255, 239, 213);
    border-radius: 5px;
    text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
}

.bubbletooltip_tip:after { 
	content: "";
	position: absolute;
    width: 0;
    height: 0;
    border-width: 15px;
    border-style: solid;
    border-color: rgb(255, 239, 213) transparent transparent transparent;
    top: 100%;
    left: 40%;
}

input{
	background:#fff9e5;
}

select{
	background:#fff9e5;
}

.modal-header {
   background:#f9cb9c;
}

.modal-footer {
   background:#f9cb9c;
}

.myThead {
   background:#f9cb9c;
}

.myTbody {
   background:#fff9e5;
}

.myTitle {
   color:#be7214;
}

.myTitle2 {
   color:#be7214;
}

.default{
	color:#ff0080;
}
.color1{
	color:#a349a4;
}
.color2{
	color:#008000;
}
.color3{
	color:#0000ff;
}
.color4{
	color:#808080;
}

.btn-default:focus, .btn-default:hover {
  background-color: #f2c166;
}