<%- include('layout_header',{searchTitle:null,nav_cur:'borrowerConfirmedMatch',actionDefault:'建立日期',directorDefault:'大至小',keywordDefault:'',categoryDefault:'不分類'}); -%>
<section class="topSection">
    <div class="topPic">
        <img src="/images/topPic.png" >
    </div>
    <div class="topText">
        <p>恭喜您成功完成借款</p>
        <p>系統將會盡速將款項轉交給您！</p>
        <p>祝您一切順利！</p>
        <p>若日後還有需要服務的地方，歡迎日後再回到LendingZone</p>
    </div>
</section>

    <script src="/javascripts/jquery-ui.js"></script>
    <link rel="stylesheet" href="/stylesheets/borrower.css">
<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=0;",imgDrawingCode:""}); -%>