<%- include('layout_header',{searchTitle:null,nav_cur:'borrowerPanel',messengerDefault:'不分訊息狀態',actionDefault:'建立日期',directorDefault:'大至小',keywordDefault:'',categoryDefault:'不分類'}); -%>
<div class="borrowTableContainer">

<div class="borrowContainerTitle">還款紀錄</div>

<section class="chartSection">
  <div  class="chart">
    <canvas id="pieChart" width="300" height="300"></canvas>
  </div>
  <div class="chart textChart">
      <div style="font-size:3em;">已完成還款</div>
      <div class="number" style="font-size:5em;">0%</div>
      <div style="font-size:2em;">剩餘金額
        <div class="number">
          $100,000
        </div>
      </div>
  </div>

</section>

<section class="lender_info">
<table class="table">
      <thead>
        <tr class="tableAttribute">
          <th><div class="tdContent">出借人編號</div></th>
          <th><div class="tdContent">每期應償還金額</div></th>
          <th><div class="tdContent">總期數</div></th>
          <th><div class="tdContent">總款項</div></th>
          <th><div class="tdContent">剩餘期數</div></th>
          <th><div class="tdContent">剩餘款項</div></th>
          <th><div class="tdContent">最近償還日期</div></th>
          <th><div class="tdContent">下次償還日期</div></th>
        </tr>
      </thead>
      <tbody>
        <tr class="eachTrans">
          <td><div class="tdContent">01</div></td>
          <td><div class="tdContent">$2,699</div></td>
          <td><div class="tdContent">12</div></td>
          <td><div class="tdContent">$32,000</div></td>
          <td><div class="tdContent">12</div></td>
          <td><div class="tdContent">$32,000</div></td>
          <td><div class="tdContent">無</div></td>
          <td><div class="tdContent">2015/06/30</div></td>
        </tr>
        <tr class="eachTrans">
          <td><div class="tdContent">02</div></td>
          <td><div class="tdContent">$679</div></td>
          <td><div class="tdContent">15</div></td>
          <td><div class="tdContent">$10,000</div></td>
          <td><div class="tdContent">15</div></td>
          <td><div class="tdContent">$10,000</div></td>
          <td><div class="tdContent">無</div></td>
          <td><div class="tdContent">2015/06/30</div></td>
        </tr>
        <tr class="eachTrans">
          <td><div class="tdContent">03</div></td>
          <td><div class="tdContent">$1,223</div></td>
          <td><div class="tdContent">15</div></td>
          <td><div class="tdContent">$18,000</div></td>
          <td><div class="tdContent">15</div></td>
          <td><div class="tdContent">$18,000</div></td>
          <td><div class="tdContent">無</div></td>
          <td><div class="tdContent">2015/06/30</div></td>
        </tr>
        <tr class="eachTrans">
          <td><div class="tdContent">04</div></td>
          <td><div class="tdContent">$1,271</div></td>
          <td><div class="tdContent">12</div></td>
          <td><div class="tdContent">$15,000</div></td>
          <td><div class="tdContent">15</div></td>
          <td><div class="tdContent">$15,000</div></td>
          <td><div class="tdContent">無</div></td>
          <td><div class="tdContent">2015/06/30</div></td>
        </tr>
        <tr class="eachTrans">
          <td><div class="tdContent">05</div></td>
          <td><div class="tdContent">$1,288</div></td>
          <td><div class="tdContent">20</div></td>
          <td><div class="tdContent">$25,000</div></td>
          <td><div class="tdContent">15</div></td>
          <td><div class="tdContent">$25,000</div></td>
          <td><div class="tdContent">無</div></td>
          <td><div class="tdContent">2015/06/30</div></td>
        </tr>
      </tbody>
    </table>
</section>
</div>


    <script src="/javascripts/jquery-ui.js"></script>
    <link rel="stylesheet" href="/stylesheets/borrower.css">
    <script>
    //document.body.style['background-color'] = '#FEF2E8';
    var data = [
    {
        value: 0,
        color:"#666666",
        //highlight: "#FF5A5E",
        label: "已還清"
    },
    {
        value: 100,
        color: "#E0E0E0",
        //highlight: "#5AD3D1",
        label: "未還清"
    }];

        var pieCtx = document.getElementById("pieChart").getContext("2d");
        var PieChart = new Chart(pieCtx).Pie(data);

        var textCtx = document.getElementById("textChart").getContext("2d");
        textCtx.fillText("已完成還款", 350, 350);

    </script>
<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=0;",imgDrawingCode:"",nav_cur:'borrowerPanel'}); -%>