<%- include('layout_header',{nav_cur:'index',actionDefault:'最新',keywordDefault:'',categoryDefault:'不分類'}); -%>
<section class="topSection">
    <div class="topPic">
        <img src="/images/topPic.png" >
    </div>
    <div class="topText">
        <p>最近手頭有點緊嗎?</p>
        <p>擔心利率過高，還不出來嗎?</p>
        <p>擔心銀行借款門檻太高嗎?</p>
        <p>別擔心，這裡有許多人能夠幫助你!</p>
        <p>快來告訴他們你的需求吧!</p>
    </div>
</section>

<section class="bottomSection">
    <form style="margin-left:60px;" action="/borrows/create" method="post">

    <div class="borrowBlock">
      <div class="borrowBlockTitle">借款金額<i style="color:red;">*</i></div>
      <div>金額限制 $5,000~$150,000</div>
      <input type="number" name="MoneyToBorrow" required>
    </div>

    <div class="borrowBlock">
      <div class="borrowBlockTitle">可接受利率上限<i style="color:red;">*</i></div>
      <div>最高5%</div>
      <input type="number" name="MaxInterestRateAccepted" required>
    </div>

    <div class="borrowBlock">
      <div class="borrowBlockTitle">預期還款期數</div>
      <div>選擇性填寫，最高36個月</div>
      <select name="MonthPeriodAccepted">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
            <option value="32">32</option>
            <option value="33">33</option>
            <option value="34">34</option>
            <option value="35">35</option>
            <option value="36">36</option>
    </select>
    </div>

    <div class="borrowBlock">
        <div class="borrowBlockTitle">標題</div>
        <input name="StoryTitle" required>
    </div>

    <div class="borrowBlock">
        <div class="borrowBlockTitle">類別</div>
        <select name="Category">
            <option value="家庭">家庭</option>
            <option value="升學">升學</option>
        </select>
    </div>

    <div class="borrowBlock">
        <div class="borrowBlockTitle">借款原因/故事</div>
        <div>選擇性填寫，不限字數，也可附上相關網頁/影片連結</div>
        <textarea name="Story"></textarea>
    </div>

    <div class="borrowBlock">
        <div class="borrowBlockTitle">媒合確定最晚期限</div>
        <div>系統預設為三天</div>
        <input type="date" name="TimeLimit">
    </div>

    <div class="borrowBlock" >
        <button type="reset"  id="buttonReset" class="buttonExit">重寫</button>
        <button type="button" id="buttonCheck" class="buttonSubmit">確認</button>
    </div>

    <div id="borrowDialog" class="borrowBlock"  style="display:none;">
        <div class="borrowBlockTitle dialogTitle">確認借出</div>
        <input type="hidden" name="CreatedBy" value="<%- createdBy -%>">
        <p>確定送出借款要求嗎？</p>
        <p>檢查看看有沒有要修改的地方？</p>
        <p>祝您早日配對成功！</p>
        <button type="button"  id="buttonCancel"class="buttonExit">取消</button>
        <button type="submit"  class="buttonSubmit">確認送出</button>
    </div>

    </form>

</section>

<div id="li" >
    <img id="liPic" src="/images/li.png">
    <div id="talkContent">
        <p>把借款的故事或原因寫下來，</p>
        <p>能幫助其他人暸解您的情況！</p>
        <p>有助於借款喔！</p>
    </div>
</div>





    <script src="/javascripts/jquery-ui.js"></script>
    <link rel="stylesheet" href="/stylesheets/borrower.css">
    <script>
        document.body.style['background-color']='#FFE4A3';

        $('#buttonCancel').click(function(){
            $('#borrowDialog').css({
                'display':'none'
            });
            $('.bottomSection').css({
                'background-color': '#FFF9E7'
            });
        });

        $('#buttonCheck').click(function () {
            console.log('click buttonCheck');
            $('#borrowDialog').css({
                'top': (window.pageYOffset+window.innerHeight/4).toString()+'px',
                'display':'block'
            });
            $('.bottomSection').css({
                'background-color': '#EEEEEE'
            });
        });
        $( '#li' ).css({
            'top': (window.pageYOffset+window.innerHeight/3).toString()+'px',
            'left': '60%'
        }).draggable();
        $('#borrowDialog').draggable();
    </script>

<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=2;img1 = new Image;img1.onload = function(){ifLoadedCount-=1;};img1.src='/images/camera.png';img2 = new Image;img2.onload = function(){ifLoadedCount-=1;};img2.src='/images/like.png';",imgDrawingCode:"var offset1 = $('#intro1').offset();ctx.drawImage(img1,offset1.left,offset1.top,100,100);var offset2 = $('#intro3').offset();ctx.drawImage(img2,offset2.left,offset2.top,100,100);"}); -%>

