<%- include('layout_header',{searchTitle:null,nav_cur:'checkMatch',messengerDefault:'不分訊息狀態',actionDefault:'建立日期',directorDefault:'大至小',keywordDefault:'',categoryDefault:'不分類'}); -%>
<section class="lender_info">
<table class="table">
      <thead>
        <tr class="tableAttribute" style="background-color:#F9CAA2;">
          <th><div class="tdContent" style="background-color:#FF9836;">優化排序</div></th>
          <th><div class="tdContent" style="background-color:#FF9836;">OK</div></th>
          <th><div class="tdContent" style="background-color:#FF9836;">媒合方式</div></th>
          <th><div class="tdContent" style="background-color:#FF9836;">欲出借金額</div></th>
          <th><div class="tdContent" style="background-color:#FF9836;">利率</div></th>
          <th><div class="tdContent" style="background-color:#FF9836;">期數</div></th>
          <th><div class="tdContent" style="background-color:#FF9836;">每期應償還金額</div></th>
        </tr>
      </thead>
      <tbody>
        <tr class="autoTrans">
          <td><div class="tdContent">01</div></td>
          <td><div class="tdContent"><input type="checkbox" style="font-size:2em;"  onclick="calculateTotal(32000)"></div></td>
          <td><div class="tdContent">自動</div></td>
          <td><div class="tdContent">$32,000</div></td>
          <td><div class="tdContent">2.2%</div></td>
          <td><div class="tdContent">12</div></td>
          <td><div class="tdContent">$2,699</div></td>
        </tr>
        <tr class="manualTrans ">
          <td><div class="tdContent">02</div></td>
          <td><div class="tdContent"><input type="checkbox" style="font-size:2em;" onclick="calculateTotal(10000)" ></div></td>
          <td><div class="tdContent">手動</div></td>
          <td><div class="tdContent">$10,000</div></td>
          <td><div class="tdContent">2.6%</div></td>
          <td><div class="tdContent">15</div></td>
          <td><div class="tdContent">$679</div></td>
        </tr>
        <tr class="autoTrans">
          <td><div class="tdContent">03</div></td>
          <td><div class="tdContent"><input type="checkbox" style="font-size:2em;" onclick="calculateTotal(18000)" ></div></td>
          <td><div class="tdContent">自動</div></td>
          <td><div class="tdContent">$18,000</div></td>
          <td><div class="tdContent">2.8%</div></td>
          <td><div class="tdContent">15</div></td>
          <td><div class="tdContent">$1,223</div></td>
        </tr>
        <tr class="manualTrans ">
          <td><div class="tdContent">04</div></td>
          <td><div class="tdContent"><input type="checkbox" style="font-size:2em;" onclick="calculateTotal(15000)" ></div></td>
          <td><div class="tdContent">手動</div></td>
          <td><div class="tdContent">$15,000</div></td>
          <td><div class="tdContent">3.0%</div></td>
          <td><div class="tdContent">12</div></td>
          <td><div class="tdContent">$1,271</div></td>
        </tr>
        <tr class="manualTrans">
          <td><div class="tdContent">05</div></td>
          <td><div class="tdContent"><input type="checkbox" style="font-size:2em;" onclick="calculateTotal(25000)"></div></td>
          <td><div class="tdContent">手動</div></td>
          <td><div class="tdContent">$25,000</div></td>
          <td><div class="tdContent">3.4%</div></td>
          <td><div class="tdContent">20</div></td>
          <td><div class="tdContent">$1,288</div></td>
        </tr>
      </tbody>
    </table>
</section>

<section class="total">
    <div class="eachTotal">
        <div class="leftBlue">已完成的金額總和</div>
        <div class="rightWhite">$0</div>
    </div>

    <div class="eachTotal">
        <div class="leftBlue">已點選的金額總和</div>
        <div class="rightWhite">$<span id="eachChecked">0</span></div>
    </div>
    <div class="eachTotal">
        <div class="leftBlue">不足額</div>
        <div class="rightWhite">$<span id="eachLack">100,000</span></div>
    </div>
</section>


<section class="buttonBlock">
    <form action="borrowerConfirmedMatch" method="get">
      <button type="button" id="buttonCancel" class="buttonExit" onclick="location.replace('/')">放棄，我想繼續等待新的媒合</button>
      <button type="submit" id="buttonSubmit" class="buttonSubmit">確定，以上配對我很滿意</button>
    </form>
</section>

<!--
<div id="li" >
    <img id="liPic" src="/images/li.png">
    <div id="talkContent">
        <p>把借款的故事或原因寫下來，</p>
        <p>能幫助其他人暸解您的情況！</p>
        <p>有助於借款喔！</p>
    </div>
</div>
-->



    <script src="/javascripts/jquery-ui.js"></script>
    <link rel="stylesheet" href="/stylesheets/borrower.css">
    <script>
        $( '#li' ).css({
            'top': (window.pageYOffset+window.innerHeight/2).toString()+'px',
            'left': '60%'
        }).draggable();
        var inits;
        var inter = 1+(0.022/12);
        var total = 32000;
        var n = 12;
        //inits*(1-inter^n)/(1-inter) = total*(1+inter)^n;
        inits = total*Math.pow(inter, n) / (1- Math.pow(inter, n))*(1-inter);
       console.log(inits);

        console.log('2699');
        console.log('679');
        console.log('1223');
        console.log('1271');
        console.log('1288');

        function calculateTotal(val){
          var eachChecked = document.getElementById('eachChecked');
          var eachLack = document.getElementById('eachLack');
          console.log(parseInt(eachChecked.innerHTML));
          var temp1  = (parseInt(eachChecked.innerHTML)*1000+parseInt(val)).toString();
          var temp2 =  (100000 - parseInt(eachChecked.innerHTML)*1000-parseInt(val) ).toString();
          eachChecked.innerHTML = temp1.substr(0, temp1.length-3)+','+temp1.substr(temp1.length-3, temp1.length);
          if(temp2!=='0')
          {
            eachLack.innerHTML = temp2.substr(0, temp2.length-3)+','+temp2.substr(temp2.length-3, temp2.length);
          }else{
            eachLack.innerHTML = '0';
          }

        }
    </script>
<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=0;",imgDrawingCode:"",nav_cur:'checkMatch'}); -%>