<%- include('layout_header',{searchTitle:null,nav_cur:'signup',messengerDefault:'不分訊息狀態',actionDefault:'建立日期',directorDefault:'大至小',keywordDefault:'',categoryDefault:'不分類'}); -%>
	<style>
	.hint{
	position:absolute;
	right:370px; 
	bottom:330px;
	}
	</style>
	<div align = "center">
	<button type="button" class="btn btn-default">
  	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>個人資料登錄</button>
	<button type="button" class="btn btn-default">
  	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>帳號密碼設定</button>
	<button type="button" class="btn btn-primary">
  	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>社群資料提供</button>
	<button type="button" class="btn btn-default">
  	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>帳戶建立完成</button>
	</div>
	<center>
		<form>
		<h3>提供社群資料<br></h3>
		<h5>如果提供，信用等級會提高<br></h5>
		<table class="table table-bordered myTbody" style = "width:80%">
			<tr>
				<td style = "width:20%">購物平台</td>
	    			<td><img src = "/images/yahoo.png" style = "width:30px"> <img src = "/images/lu.png" style = "width:30px">
	    			<button type="button" class="btn btn-default btn-sm">
	    			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加</button></td>
			</tr>
			<tr>
				<td style = "width:20%">社群平台</td> 
	    			<td><img src = "/images/fbicon.png" style = "width:30px"> <img src = "/images/twit.png" style = "width:30px"> 
	    			<img src = "/images/in.png" style = "width:30px"> <button type="button" class="btn btn-default btn-sm">
	    			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加</button></td>
			</tr>
		</table>
		<button type="button" class="btn btn-default btn-lg" onClick = "javascript:location.href='/signup/_success'" >
		  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 確認
		</button>
		<button type="button" class="btn btn-default btn-lg" onClick = "javascript:location.href='/signup/_success'" >
		  <span class="glyphicon glyphicon-play" aria-hidden="true"></span> 略過
		</button>
		</form>
	</center>
	<div class = "hint">
	&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:inline;"><img width="65px" height="65px" src="/images/icon.png" class="hastip" title="讓我們看見您的活躍程度吧:)"/></div>
	</div>
<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=0;",imgDrawingCode:""}); -%>