<%- include('layout_header',{nav_cur:'index'}); -%>
<div class="jumbotron" style="background: #b9c8cd;text-align:center;">
    <div class="container">
		<br>
        <div style="font-size: 60px;font-family: 'Arvo', serif;">LENDING ZONE</div>
        <br>
        <br>
        <div style="font-size: 30px;">
            We Are An Entrance Leading You <br>
            Into The P2P Lending and Borrowing World!<br>
        </div>
        <br>
        <div style="font-size: 30px;">
            Fast, Covenient, and Safe!<br>  
         </div>
		 <br>
		 <br>
    </div><!-- /.container -->
</div><!-- /.jumbotron -->
<%- include('layout_footer'); -%>
