<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>First</title>
	
	<!-- jquery js-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- bootstrap js-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<!-- bootstrap css-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!-- local css-->
	<link rel="stylesheet" href="/stylesheets/ourStyle.css">
</head>
<body>
	<header role="banner">
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Lending Zone</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-left">
						<li
							<% if(nav_cur=='borrow'){ %>
								class="active"
							<% } %>
						><a href="/borrow">借入</a></li>
						<li class="dropdown<% if((nav_cur=='lend')||(nav_cur=='lenderSendMessages')||(nav_cur=='lenderReceiveMessages')||(nav_cur=='lenderTransactions')){ %> active<% } %>">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">借出 <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li <% if(nav_cur=='lend'){ %> class="active"<% } %>><% if(!userName){ %><a href="#" data-toggle="modal" data-target="#myModal"><% }else{ %><a href="/lend"><%}%>自動借出設定</a></li>
								<li <% if(nav_cur=='income'){ %> class="active"<% } %>><% if(!userName){ %><a href="#" data-toggle="modal" data-target="#myModal"><% }else{ %><a href="/income"><%}%>收入分析</a></li>
								<li class="divider"></li>
								<li <% if(nav_cur=='lenderReceiveMessages'){ %> class="active"<% } %>><% if(!userName){ %><a href="#" data-toggle="modal" data-target="#myModal"><% }else{ %><a href="/lenderReceiveMessages?filter=未確認&page=1"><%}%>收到之欲借入訊息</a></li>
								<li <% if(nav_cur=='lenderSendMessages'){ %> class="active"<% } %>><% if(!userName){ %><a href="#" data-toggle="modal" data-target="#myModal"><% }else{ %><a href="/lenderSendMessages?filter=未被確認&page=1"><%}%>送出之欲借出訊息</a></li>
							</ul>
						</li>
					</ul>
					<div class="navbar-form navbar-left" role="search">
						<div class="input-group">
							<input type="text" style="height:32px;" class="form-control" id="keywordIpt" placeholder="搜尋借入者的故事" value="<%=keywordDefault%>" onkeypress="if(event.keyCode==13){ window.open('/search?keyword='+$('#keywordIpt').val()+'&action='+$('#searchAction0').text()+'&page=1','_self');}">
							<span class="input-group-btn">
								<button type="button" style="height:32px;" class="btn btn-default" id="searchActionSelected" data-toggle="dropdown" aria-expanded="false"><%=actionDefault%> <span class='caret'></span></button>
								<button type="button" style="height:32px;" class="btn btn-default" onclick="window.open('/search?keyword='+$('#keywordIpt').val()+'&action='+$('#searchAction0').text()+'&page=1','_self');"><span class="glyphicon glyphicon-search"></span></button>
								<ul class="dropdown-menu" role="menu">
									<li style="display:none"><a href="#" id="searchAction0"><%=actionDefault%></a></li>
									<li><a href="#" onclick="$('#searchActionSelected').html('');$('#searchActionSelected').html($('#searchAction1').text());$('#searchAction0').html($('#searchActionSelected').text());$('#searchActionSelected').append(' <span class=\'caret\'><\/span>');return false;" id="searchAction1">最新</a></li>
									<li><a href="#" onclick="$('#searchActionSelected').html('');$('#searchActionSelected').html($('#searchAction2').text());$('#searchAction0').html($('#searchActionSelected').text());$('#searchActionSelected').append(' <span class=\'caret\'><\/span>');return false;" id="searchAction2">最緊急</a></li>
									<li><a href="#" onclick="$('#searchActionSelected').html('');$('#searchActionSelected').html($('#searchAction3').text());$('#searchAction0').html($('#searchActionSelected').text());$('#searchActionSelected').append(' <span class=\'caret\'><\/span>');return false;" id="searchAction3">最熱門</a></li>
								</ul>
							</span>
						</div> 
					</div>
					<ul class="nav navbar-nav navbar-right">
						<% if(!userName){ %>
							<li><a href="#" data-toggle="modal" data-target="#myModal">登入</a></li>
							<li
								<% if(nav_cur=='signup'){ %>
									class="active"
								<% } %>
							><a href="/signup">註冊</a></li>
						<% }else{ %>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%=userName%> <span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="/logout">登出</a></li>
									<li
										<% if(nav_cur=='profile'){ %>
											class="active"
										<% } %>
									><a href="/profile">個人檔案</a></li>
								</ul>
							</li>
						<% } %>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</header>
	<main role="main">