	</main>
	<footer class="my-footer">
      <div class="container">
        <p>Copyright © Lending Zone 2015</p>
      </div>
    </footer>
	<% if(!userName){ %>
		<!--modal-->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel"><img src="/images/login.png " height="30px" width="30px"/>&nbsp;登入</h4>
					</div>
					<form action="/login" method="post" id="loginForm" onsubmit="disableButton();">
						<div class="modal-body">
							<div class="input-group">
									<input type="text" class="form-control" name="Username" id="usernameID" placeholder="帳號" required="required">
							</div>
							<br>
							<div class="input-group">
									<input type="password" class="form-control" name="Password" id="passwordID" placeholder="密碼" required="required">
							</div>
							<br>
							<input type="hidden" name="CaptchaIdfr" id="captchaIdfr" value="0">
							<table>
								<tr>
									<td style="width:30%;">
										<input type="text" class="form-control" name="CaptchaText" id="captchaText" placeholder="驗證碼" required="required">
									</td>
									<td>
										&nbsp;&nbsp;&nbsp;&nbsp;<img id="captchaPic" width="100px" height="35px;" src="" />
									</td>
								</tr>
								<tr>
									<td>
									</td>
									<td>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="ajaxCaptcha();return false;">看不清?</a>
									</td>
								</tr>
							</table>
						</div>
						<div class="modal-footer">
							<div class="checkbox" align = "left">
								<label>
									<input type="checkbox" name="remember" id="rememberID"> 記住我
									&nbsp;&nbsp;
									<a href="#" onclick="forget();return false;">忘記密碼</a>
								</label>
							</div>
							<div class="btn-toolbar" role="toolbar">
								<div class="btn-group" role="group">
									<button id="lgBtn" type="submit" class="btn btn-info" onclick="save();">登入</button>
								</div>
								<div class="btn-group" role="group">
									<button type="button" class="btn btn-danger" data-dismiss="modal">關閉</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	<%}%>
<canvas width="640" height="360" onclick="canvasOnClick();" style="position:absolute;left:0px;top:0px;z-index:2000;display:none;" id="introCanvas"></canvas>
</body>
<script>
	var ifDrawed=false;
	<%-imgSettingCode%>
	
	$(document).ready(function () {
		var id;
		<% if(!userName){ %>
			ajaxCaptcha();
		<% } %>
		
		$('.hastip').tooltipsy({
			className: 'bubbletooltip_tip',
			offset: [0, -15],
			show: function (e, $el) {
				$el.fadeIn(100);
			},
			hide: function (e, $el) {
				$el.fadeOut(500);
			}
		});
		
		doneResizing();
		$(window).resize(function(){
			clearTimeout(id);
			id = setTimeout(doneResizing, 500);
		}); 
		
		<% if(!userName){ %>
			if ($.cookie("rmbUser") == "true") {
				$("#rememberID").prop("checked", true);
				$("#usernameID").val($.cookie("username"));
				$("#passwordID").val($.cookie("password"));
			}
		<%}%>
	});

	function canvasOnClick(){
		var orig=$('#introCanvas').attr('style');
		if(orig.search('display:none;')<0){
			orig = orig + 'display:none;';
			$('#introCanvas').attr('style',orig);
		}
	}
	
	function doneResizing(){
		if(ifLoadedCount==0){
			var x=$('body').width();
			var y1=$('body').height();
			var y2=$(window).height();
			var y;
			if(y1>=y2){
				y=y1;
			}else{
				y=y2;
			}
			$('#introCanvas').attr('width',x);
			$('#introCanvas').attr('height',y);
			var cvs = document.getElementById("introCanvas");
			var ctx = cvs.getContext('2d'); 
			ctx.clearRect(0, 0, cvs.width, cvs.height);
			ctx.beginPath();
			ctx.fillStyle="rgba(0,0,0,0.4)";
			ctx.fillRect(0,0,cvs.width,cvs.height);
			
			<%-imgDrawingCode%>
			
			ifDrawed=true;
		}
	}
	
	<% if(!userName){ %>
		var captchaFlag=false;
		function ajaxCaptcha(){
			if(captchaFlag){
				alert('正在處理中，請稍候');
			}else{
				captchaFlag=true;
				$.ajax({ 
					url: '/captcha?captchaIdfr='+$('#captchaIdfr').val(),
					type: 'GET',
					dataType: 'json',
					success: function(Jdata) {
						if(Jdata.success){
							$('#captchaIdfr').val(Jdata.CaptchaIdfr);
							$('#captchaPic').attr('src',Jdata.CaptchaPic);
						}
						captchaFlag=false;
					},
					error: function() {
						captchaFlag=false;
					}
				});
			}
		}
		
		var forgettingFlag=false;
		function forget(){
			if(forgettingFlag){
				alert('正在處理中，請稍候');
			}else{
				if($("#usernameID").val()==''){
					alert('請輸入帳號供查詢');
				}else{
					forgettingFlag=true;
					$.ajax({ 
							url: '/Users/forgetPW',
							type: 'POST',
							data:{Username:$('#usernameID').val()},
							dataType: 'json',
							success: function(Jdata) {
								forgettingFlag=false;
								alert(Jdata.response);
							},
							error: function() {
								forgettingFlag=false;
								alert('發生錯誤');
							}
					});	
				}
			}
		}
		
		function disableButton(){
			var orig=$('#lgBtn').attr('class');
			if(orig.search(' disabled')<0){
				orig=orig+' disabled';
				$('#lgBtn').attr('class',orig);
			}
			forgettingFlag=true;
			captchaFlag=true;
		}
		
		function save() {
			if($("#rememberID").prop("checked")) {
				var str_username = $("#usernameID").val();
				var str_password = $("#passwordID").val();
				$.cookie("rmbUser", "true", { expires: 7 }); 
				$.cookie("username", str_username, { expires: 7 });
				$.cookie("password", str_password, { expires: 7 });
			}else{
				$.cookie("rmbUser", "false", { expire: -1 });
				$.cookie("username", "", { expires: -1 });
				$.cookie("password", "", { expires: -1 });
			}
		};
	<%}%>
</script>
</html>