<%- include('layout_header',{searchTitle:null,nav_cur:'login',messengerDefault:'不分狀態',actionDefault:'建立日期',directorDefault:'大至小',keywordDefault:'',categoryDefault:'不分類'}); -%>
<div class="container">
	<div class="row">
		<center>
			<br><br><br><br><br><br><br>
			<h4><%=msg%></h4>
			<br><br><br><br><br><br><br>
		</center>
	</div>
</div>
<script>
	$(document).ready(function () {
		$('#myModalLabel').text("<%=msg%>");
		$('#myModal').modal('show');
	});
</script>
<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=0;",imgDrawingCode:"",nav_cur:'login'}); -%>