<%- include('layout_header',{nav_cur:'message'}); -%>
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<%=content%>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<%- include('layout_footer'); -%>