<%- include('layout_header',{nav_cur:'signup',actionDefault:'最新',keywordDefault:'',categoryDefault:'不分類'}); -%>
	<style>
	.hint{
	position:absolute;
	right:370px; 
	bottom:330px;
	}
	</style>
	<div align = "center">
	<button type="button" class="btn btn-primary">
  	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>個人資料登錄</button>
	<button type="button" class="btn btn-default">
  	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>帳號密碼設定</button>
	<button type="button" class="btn btn-default">
  	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>社群資料提供</button>
	<button type="button" class="btn btn-default">
  	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>帳戶建立完成</button>
	</div>

	<div class="container">
		<div class="row">
			<center>
			<form enctype="multipart/form-data" method="post" action="/signup/_apply">
				<h3>新增個人資料<br></h3>
				<table class="table table-hover myTbody" style = "width:70%">
				<tr>
					<td align = "right" style = "width:15%">姓名</td>
					<td><input type="text" class="form-control" id="nameIpt" name="nameIpt" placeholder="姓名"></td>
				</tr>
				<tr>
					<td align = "right" style = "width:15%">性別</td>
					<td><label class="radio-inline">
					<input type="radio" name="genderIpt" id="inlineRadio1" value="Male"> 男性</label>
					<label class="radio-inline">
					<input type="radio" name="genderIpt" id="inlineRadio2" value="Female"> 女性</label></td>
				</tr>
				<tr>
					<td align = "right" style = "width:15%">生日</td>
					<td><input type="date" class="form-control" id="birthIpt" name="birthIpt" placeholder="生日"></td>
				</tr>
				<tr>
					<td align = "right" style = "width:15%">身分證字號</td>
					<td><input type="text" class="form-control" id="ssnIpt" name="ssnIpt" placeholder="身分證字號"></td>
				</tr>
				<tr>
				    <td align = "right" style = "width:15%">身分證圖檔</td>
				    <td><input type="file" id="ssnImg" name="ssnImg" accept="image/*">
				    <p class="help-block">請上傳身分證正面圖檔以利我們驗證您的身份</p></td>
				</tr>
				<tr>
				    <td align = "right" style = "width:15%">第二證件圖檔</td>
				    <td><input type="file" id="cerImg" name="cerImg" accept="image/*">
				    <p class="help-block">請上傳另一張證件正面圖檔以利我們驗證您的身份</p></td>
				</tr>
				<tr>
					<td align = "right" style = "width:15%">行動電話</td>
					<td><input type="text" class="form-control" id="telIpt" name="telIpt" placeholder="行動電話"></td>
				</tr>
				<tr>
					<td align = "right" style = "width:15%">E-mail</td>
					<td><input type="email" class="form-control" id="emailIpt" name="emailIpt" placeholder="E-mail"></td>
				</tr>
				<tr>
					<td align = "right" style = "width:15%">住址</td>
					<td><input type="text" class="form-control" id="addrIpt" name="addrIpt" placeholder="住址"></td>
				</tr>
				<tr>
					<td align = "right" style = "width:15%">欲使用卡片之卡號</td>
					<td><input type="text" class="form-control" id="cardIpt" name="cardIpt" placeholder="欲使用卡片之卡號"></td>
				</tr>
				<tr>
					<td align = "right" style = "width:15%">卡片密碼</td>
					<td><input type="password" class="form-control" id="cardPwdIpt" name="cardPwdIpt" placeholder="卡片密碼"></td>
				</tr>
				</table>
				<div class="btn-toolbar" role="toolbar" style = "margin-top: 10px;">
				<button type="submit" class="btn btn-default btn-lg" >
				  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 確認
				</button>
				<button type="button" class="btn btn-default btn-lg" onClick = "javascript:location.href='/'" >
				  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 關閉
				</button>
				</div>
			</form>		
		</center>
		</div>
	</div>
	<div class = "hint">
	&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:inline;"><img width="65px" height="65px" src="/images/icon.png" class="hastip" title="快快填上您的資料吧~<br>放心，您的資料會被妥善保管的!"/></div>
	</div>
<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=0;",imgDrawingCode:""}); -%>