<%- include('layout_header',{searchTitle:null,nav_cur:'signup',messengerDefault:'不分訊息狀態',actionDefault:'建立日期',directorDefault:'大至小',keywordDefault:'',categoryDefault:'不分類'}); -%>
	<style>
	.hint{
	position:absolute;
	right:25%; 
	top:25%;
	}
	</style>
	<center>
		<form>
			<h3>是否持有玉山卡？<br><br></h3>
			<a href="/signup/cardData">
			<button type="button" class="btn btn-default btn-lg">
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 是
			</button></a>
			<br><br>
			<a href="/signup/newAcc">
			<button type="button" class="btn btn-default btn-lg">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 否
			</button></a>
			<br>
			<div class = "hint">
				&nbsp;&nbsp;&nbsp;&nbsp;<span><img width="65px" height="65px" src="/images/icon.png" class="hastip" title="用玉山卡註冊更快捷～<br>LendingZone期待你的加入XD"/></span>
			</div>
		</form>
	</center>
<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=0;",imgDrawingCode:"",nav_cur:'signup'}); -%>