<%- include('layout_header',{nav_cur:'signup',actionDefault:'最新',keywordDefault:'',categoryDefault:'不分類'}); -%>
	<center>
		<form>
			<h3>是否持有玉山卡？<br><br></h3>
			<a href="/signup/cardData">
			<button type="button" class="btn btn-default btn-lg">
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 是
			</button></a>
			<br><br>
			<a href="/signup/newAcc">
			<button type="button" class="btn btn-default btn-lg">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 否
			</button></a>

		</form>
	</center>
<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=0;",imgDrawingCode:""}); -%>