<%- include('layout_header',{searchTitle:null,nav_cur:'signup',actionDefault:'建立日期',directorDefault:'大至小',keywordDefault:'',categoryDefault:'不分類'}); -%>
	<style>
	.hint{
	position:absolute;
	right:370px; 
	bottom:330px;
	}
	</style>
	<div align = "center">
	<button type="button" class="btn btn-default">
  	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>個人資料登錄</button>
	<button type="button" class="btn btn-default">
  	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>帳號密碼設定</button>
	<button type="button" class="btn btn-default">
  	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>社群資料提供</button>
	<button type="button" class="btn btn-primary">
  	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>帳戶建立完成</button>
	</div>

	<center>
		<form>
		<h3>會員申請成功！<br></h3>
		<h5><br>目前持有卡片：<br></h5>
		<img src = "/images/breeze.png" style = "height:30px">
		<button type="button" class="btn btn-default btn-sm">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加</button><br><br>
		<button type="button" class="btn btn-default btn-lg" onClick = "javascript:location.href='/'" >
		  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 確認
		</button>
		<button type="button" class="btn btn-default btn-lg" onClick = "javascript:location.href='/'" >
		  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 關閉
		</button>
		</form>
	</center>
	<div class = "hint">
	&nbsp;&nbsp;&nbsp;&nbsp;<div style="display:inline;"><img width="65px" height="65px" src="/images/icon.png" class="hastip" title="我們和其他銀行有良好的合作關係，<br>所以可以加入或替換成別的卡片喔!"/></div>
	</div>
<%- include('layout_footer',{imgSettingCode:"var ifLoadedCount=0;",imgDrawingCode:""}); -%>